@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --primary: #f97415;
  --background-dark: #09090b;
  --neutral-dark: #18181b;
}

@layer base {
  body {
    @apply bg-background-dark text-white font-body selection:bg-primary/30;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-2xl;
  }

  .hero-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-neutral-muted;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}